.category {
  text-align: center;

  &__title {
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    margin-bottom: 45px;
  }

  &__item {


    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__button {
    padding: 13px 32px 13px 32px;
    box-shadow: 0 0 0 1px $frame;
    background-color: $white;
    color: $title;
    border-radius: 5px;
    transition: background-color 0.4s, box-shadow 0.4s, color 0.4s;
    display: flex;
    align-items: center;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      background-color: rgba(255, 122, 80, 0.1);
      color: $accent;
    }

    &:active {
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
    }

    &--active {
      background-color: $accent;
      color: $white;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }
}